h1 {
    background-image: url(../../resources/images/image1.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.sub1 {
    background-color: mediumspringgreen;
}

.sub2 {
    background-color: lightcoral;
}

.sub3 {
    background-color: skyblue;
}